<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/login.css">


</head>
<body>

<section id="basicPageContainer">

    <div class="logInContainer">
        <div class="basicPageMain">
            <div class="basicPageContent">
                <form name='login' th:action="@{/login}" method='post'>

                    <label>
                        <input type="text" placeholder="userName" name="username">
                    </label>
                    <label>
                        <input type="text" placeholder="password" name="password">
                    </label>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>


</body>
</html>
